{% load main_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
{% if user.is_authenticated %}
<a href="{% url 'users:logout' %}">Logout</a>--<a href="{% url 'profile' request.user.pk %}">Profile</a>
<p><a href="{%url 'create_post'%} ">Create post</a></p>
{% else %}
<a href="{% url 'users:login'%}?next={{request.path}}">Login</a>
 /
<a href="{% url 'users:registrate'%}?next={{request.path}}">Sing in</a>
{% endif %}

{% get_menu as menu %}
{% for i in menu %}
    <p><a href="{% url i.url %}">{{i.name}}</a></p>
{% endfor %}

{% get_categories as cats %}
<p>Categories</p>
<ul>
{% for i in cats %}
    <li><a href="{{ i.get_absolute_url }}">{{i.category_name}}</a></li>

{% endfor %}
</ul>
<h1>{{title}}</h1>
{% block content %}

{% endblock %}
</body>
</html>